.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #7986CB;
    color:floralwhite;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:100px;
}

.banner {
	margin: auto;
    width: 100%;
    padding: 10px;	
}
#welcome_banner {
	margin: auto;
    width: 100%;
}

.center {
	text-align:center;
}

.larger-font{
  font-size: 150%;
}

.affix {
    top:100px;
}

.navbar-inverse {
     background: #303F9F;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    min-height:200px;

}

@media (max-width: 480px) {
    .navbar li a{
    font-size:12px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .navbar li a{
    font-size:16px;
    }
}

@media (min-width: 769px) and (max-width: 980px) {
    .navbar li a{
    font-size:20px;
    }
}

@media (min-width: 981px) {
	.navbar li a{
	font-size:24px;
	}
}